{% extends "::base.html.twig" %}

{% block body %}
    <h1>Submit a new fact</h1>
    <form action="{{ path("submit") }}" method="post">
        {{ form_widget(form) }}
        {{ form_rest(form) }}
    </form>
{% endblock %}
